{%extends 'counter_staff_base.html'%}

{%block content%}

 <turbo-frame id="staff_lazy_loader" >
 {%for costumer in debtors%}
   <div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>

              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Phone Number
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Date Joined
              </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Address
              </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Creator
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">

                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{costumer}}
                    </div>

                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                  {{costumer.phone_number}}

              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{costumer.date_created}}
              </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{costumer.address}}
              </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{costumer.created_by.profile}}
                </td>



            </tr>

            <!-- More people... -->
          </tbody>

          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Order Date
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
               Order Description
              </th>

              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Items Bought
              </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Total Order Price
              </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Deposit
              </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Discount
              </th>
               <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Balance
              </th>

            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          {%for order in outstanding_orders%}
          {%if order.costumer == costumer%}
            <tr>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">

                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{order.date_created}}
                    </div>

                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                  {{order.order_description}}

              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {%for sub_order in order.suborder_set.all %} {{sub_order}} <br>{%endfor%}
              </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{order.total_order_price}}
              </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{order.deposit}}
                </td>
               <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{order.discount}}
                </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
                {{order.balance}} <a class="text-green-500" href="{%url 'product_app:pay_debt' order.id%}">paid</a>
                </td>



            </tr>
          {%endif%}
          {%endfor%}

            <!-- More people... -->
          </tbody>
        </table>

      </div>

    </div></div></div>
   {%endfor%}
      </turbo-frame>







{%endblock%}