{%extends 'counter_staff_base.html'%}

{%block content%}


<style>
input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #10233b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #214e8a;
}
.form_frame {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

</style>

<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
    <div class="rounded-t mb-0 px-4 py-3 border-0 form_frame">


        <turbo-frame id="create_order">
            <style>
input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #10233b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #214e8a;
}
.form_frame {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

            </style>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}" style="background-color:green;color:white">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if order %}
            <p style="background-color:green;color:white">Your order was successful, print the receipt <a
                    href="{%url 'product_app:print_order_receipt' order.id%}" style="color:blue"
                    target="_blank">here</a></p>
            {% endif %}

            <form action="{%url 'product_app:counter_dashboard'%}" method="post">

                {%csrf_token%}
                {{form.as_p}}
                <input type="submit">

            </form>
        </turbo-frame>
    </div>
</div>


{%endblock%}