{% extends 'manager_base.html' %}
{% block content %}


<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                            scope="col">
                            Name
                        </th>

                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                            scope="col">
                            Phone Number
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                            scope="col">
                            Date Joined
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                            scope="col">
                            Address
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                            scope="col">
                            Creator
                        </th>
                        <th class="relative px-6 py-3" scope="col">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {%for customer in customers%}
                    <tr>

                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center">

                                <div class="ml-4">
                                    <div class="text-sm font-medium text-gray-900">
                                        {{customer}}
                                    </div>

                                </div>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap">
                            {{customer.phone_number}}

                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{customer.date_created}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{customer.address}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{customer.created_by.profile}}
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            <a class="text-blue-500" href="{%url 'product_app:print_customer_report' customer.id%}">print
                                transaction history</a>
                        </td>

                    </tr>
                    {%endfor%}
                    <!-- More people... -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}


class customer(models.Model):
created_by = models.ForeignKey(CustomUser, on_delete=models.CASCADE, blank=True, null=True)
company_name = models.CharField(max_length=300)
customer_last_name = models.CharField(max_length=300, null=True, blank=True)
phone_number = models.CharField(max_length=11, unique=True)
date_created = models.DateTimeField(auto_now=True)

def __str__(self):
return '{} {}'.format(self.company_name, self.customer_last_name)

def get_details(self):
details = {"full_name": "{} {}".format(self.company_name.capitalize(), self.customer_last_name.capitalize()),
"phone_number": self.phone_number,
"created_by": self.created_by,
"date_created": self.date_created,

"transaction_history": self.get_transaction_history(),
}
return details

def get_transaction_history(self):
details = {
"all_orders": Order.objects.filter(customer=self).order_by("date_created"),
'outstanding_orders' : Order.objects.filter(customer=self, order_completed = True, paid_fully =False).order_by("date_created"),


}
return details

