{% extends 'manager_base.html' %}
{% block content %}

{%for product in products%}
        <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                <div class="rounded-t mb-0 px-4 py-3 border-0">

                  <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                      <h1 class="font-semibold text-base text-blueGray-900">
                       {{ product|get_value:'product_name' }}
                      </h1>
                        <h5 class="font-semibold text-base text-blueGray-700">
                      Date Created: {{ product|get_value:'date_created' }}
                      </h5>
                    </div>
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                      <button class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1" type="button" style="transition:all .15s ease">
                        Edit Product
                      </button>
                    </div>
                  </div>
                </div>

                <div class="block w-full overflow-x-auto">
                  <!-- Projects table -->
                  <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                      <tr>
                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                          Sub Product Name
                        </th>
                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                          Fixed Price
                        </th>
                        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                          Last price change date
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                    {%for sub_product in product|get_value:'product_sub_types'%}
                      <tr>
                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                           {{sub_product.sub_type_name}}
                        </th>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                         N {{sub_product.price}}
                        </td>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                          {{sub_product.last_price_changed_date}}
                        </td>

                      </tr>{%endfor%}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{%endfor%}

{% endblock %}


    def get_product_details(self):
        details = {
            'product_name' : self.product_name,
            'date_created' : self.date_created,
            'product_sub_types' : ProductSubType.objects.filter(product =self),

        }


    def product_sub_type_details(self):
        details ={
            'product_sub_types': ProductSubType.objects.filter(product=self),

        }



class ProductSubType(models.Model):
    product = models.ForeignKey(Product, on_delete=models.CASCADE, blank=True, null=True)
    sub_type_name = models.CharField(max_length=300)
    price = models.FloatField(default=0)
    last_price_changed_date = models.DateTimeField(auto_now=True)
