<turbo-frame id="staff_lazy_loader"   >


     <style>
input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #10233b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #214e8a;
}
.form_frame {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
</style>
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                    <h3 style="margin-bottom:50px; text-align:center"><b>Staff Creation Form</b></h3>
                  <div class="flex flex-wrap items-center login">

        <form class="w-full max-w-lg" method="post" action="{%url 'product_app:create_staff'%}">

                {% csrf_token %}

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        First Name
      </label>
      <input name="first_name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" required type="text" placeholder="Olusegun">
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Last Name
      </label>
      <input name="last_name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" required type="text" placeholder="Adediwura">
    </div>
  </div>
    <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
        Email
      </label>
      <input name="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email"  required type="email" placeholder="me@domain.com">
      <p class="text-gray-600 text-xs italic">Make sure the email is valid</p>
    </div>
  </div>
    <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="address">
        Address
      </label>
      <input name="address" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="address" required type="text" placeholder="No 10, Ajidagba Street, Lekki, Lagos.">
      <p class="text-gray-600 text-xs italic">Make it as short and precise as possible</p>
    </div>
  </div>
    <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone_number">
        Phone Number
      </label>
      <input name="phone_number" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="phone_number"  required maxlength="11" type="text" placeholder="08000000000">
      <p class="text-gray-600 text-xs italic">Max length is 11</p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Password
      </label>
      <input name="password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" required type="password" placeholder="******************">
      <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-2">

    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">

        <label class="inline-flex items-center mt-3" for="manager_staff_type" >
                <input id="manager_staff_type" type="radio" class="form-radio h-5 w-5 text-indigo-600" name="staff_type" value="is_manager_staff" required><span class="ml-2 text-gray-700">Manager</span>
            </label>

            <label for="counter_staff_type" class="inline-flex items-center mt-3">
                <input id="counter_staff_type" name="staff_type" type="radio" class="form-radio h-5 w-5 text-purple-600" value="is_counter_staff" required checked><span class="ml-2 text-gray-700">Counter Staff</span>
            </label>

    </div>
  </div><input type="submit"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">

</form>



                  </div></div></div>


</turbo-frame>



